/*---------------Bootstrap-------------*/

/*$btnPrimaryBackground: orange;*/
/*$navbarBackgroundHighlight: gray;*/
/*$navbarLinkColor: white;*/
$navbarBackground: white;

@import 'bootstrap';

@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}

/*|------------ HEADER --------------|*/

/*span.brand {
	font-family:cursive;
	
}
*/

/*|------------- BODY ---------------|*/

.body-container {
	padding-top: 0px;
	padding-left: 10px;
}

div.product-list ul li div{
	display:inline-block;
}

li {
	list-style: none;
}


/*|------------ FOOTER --------------|*/