<h1>Products</h1>

<div class="span2">
	<div class="well">
		<h4>Categories</h4>
		<ul>
			<%# @products.categories.each do |cats| %>
				
			<%# end %>
		</ul>
	</div>
</div>

<div class="span10">
	<%= @products.each do |product| %>	
			<div class="well">
				<!-- <img></img> -->
				<p><%= link_to product[:name], product_path(product) %></p>
				<p><%= product.formatted_price %></p>
				<p><%= product[:description] %></p>
			</div>
	<% end %>
</div>
